

body {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: white;
    color: rgb(137, 71, 163);
}



#button {
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    
    
}

.taste{
    
    background-color: grey;
    border: none;
    font-size: 1.2rem;
    padding: 1em 2em;
    border-radius: 0.25em;
    cursor: pointer;
    
}

.taste:hover{
    background-color: rgb(86, 90, 90);
}

table{
    border:1px solid black;
    background-color: black;
}

.cell{
    border: 1px;
    width: 16px;
    height: 18px;
}

.filled {
    background-color: white;   
}
.empty {
    background-color: black;   
}






